<div class="my-4 lg:my-0">
  <p class="my-4 text-jade-powder uppercase font-medium lg:mt-0">Introduction</p>
  <h1 class="text-4xl font-semibold">{{ title }}</h1>
  <h2 class="text-xl font-normal">Front-end engineer based in Boston, MA.</h2>
</div>