<h1>{{ title }}</h1>
<section class="outline outline-1 outline-green-500">
  <h2>This is about meeee section</h2>
  {% EleventyImage "/assets/mariani_winter.jpg", "Gina with her dog Ody", "(min-width: 16em) 50vw, 100vw" %}
</section>