<div class="grid grid-cols-5 grid-rows-[100px_minmax(550px,_1fr)_200px] mb-8">
  <p class="col-start-1 col-span-3 text-center self-center uppercase font-medium">Introduction</p>
  <h1 class="col-start-2 text-9xl text-jade-powder font-semibold">{{ title }}
    <span class="block text-5xl">Extra Information</span></h1>
  <h2 class="col-start-2 col-span-3 self-center justify-self-center text-xl font-normal">Enchanted by the world of Web Arts since 2015, brewing code and casting spells!</h2>
</div>