<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="I'm a Frontend software developer."/>
    <link rel="stylesheet" href="css/style.css?v={% version %}"/>
    <title>Gina M</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,600;0,9..40,900;1,9..40,300&display=swap');
    </style>
  </head>
  <body>
    {% include "header.njk" %}
    <main class="main container">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>
    {% include "footer.njk" %}
  </body>
</html>
