<footer class="grid-layout-footer p-5 bg-jade-powder flex flex-col text-center lg:flex-row lg:justify-between lg:text-end lg:px-10">
      <div class="text-bright-white lg:my-auto">
            <ul class="flex gap-3 m-auto max-w-fit">
                  {% include "links.njk" %}
                  <li class="flex-none h-[40px] w-[40px] hover:drop-shadow-xl">
                        {% socialLink "Codepen",
                        "assets/icons.svg#codepen",
                        "https://codepen.io/GVisualworks" %}
                  </li>

            </ul>
      </div>
      <div class="my-5 lg:my-auto">
            <p class="text-bright-white">made by yours truly</p>
            <p class="text-bright-white">&copy; {% year %}</p>
      </div>
</footer>