<footer class="grid-layout-footer p-5 bg-jade-powder flex flex-col text-center lg:flex-row lg:justify-between lg:text-end lg:px-20">
      {% include "links.njk" %}
      <div class="my-5">
            <p class="text-bright-white">made by yours truly</p>
            <p class="text-bright-white">designed by Janina Yutkins-Kennedy</p>
            <p class="text-bright-white">&copy; {% year %}</p>
      </div>
</footer>