<ul class="flex-1 flex justify-between lg:max-w-xs">
    <li class="flex-none">LinkedIn</li>
    <li class="flex-none">Github</li>
    <li class="flex-none">Codepen</li>
    <li class="flex-none">Email</li>
</ul>