<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="I'm a Frontend software developer."/>
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="stylesheet" href="css/style.css?v={% version %}"/>
    <title>Gina M</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,600;0,9..40,900;1,9..40,300&display=swap');
    </style>
  </head>
  <body class="[height:100dvh] m-0">
    <div class="[height:100dvh] grid grid-layout-wrapper grid-rows-layout md:grid-cols-5">
      {% include "header.njk" %}
      {% block content %}
        {{ content | safe }}
      {% endblock %}
      {% include "footer.njk" %}
    </div>
  </body>
</html>