@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .grid-layout-head {
    grid-area: header;
  }

  .grid-layout-main {
    grid-area: content;
  }

  .grid-layout-footer {
    grid-area: footer;
  }

  .grid-layout-wrapper {
    grid-template-areas:
      "header"
      "content"
      "footer";
  }

  @media (min-width: 768px) {
    .grid-layout-wrapper {
      grid-template-areas:
        "header header header"
        "content content content"
        "footer footer footer";
    }
  }
}
