---
title: "Gina Mariani"
layout: "base.njk"
---

{% block content %}
  <main class="grid-layout-main max-w-screen-lg p-5 lg:m-auto lg:mt-24 lg:flex lg:gap-x-8 xl:p-0">
    <div class="grid gap-y-6">
      {% include "about.njk" %}
      <div class="my-4 max-w-xs m-auto lg:hidden">
        {% include "image.webc" %}
      </div>
      {% include "skills.njk" %}
      {% include "experience.njk" %}
    </div>
    <div class="hidden lg:block lg:mt-12">
      {% include "image.webc" %}
      <ul class="flex gap-3 m-auto max-w-fit my-4 text-jade-powder">
        {% include "links.njk" %}
        <li class="flex-none h-[40px] w-[40px] hover:drop-shadow-xl">
          {% socialLink "Codepen",
      "assets/icons.svg#codepen-white",
      "https://codepen.io/GVisualworks"
    %}
        </li>
      </ul>

    </div>
  </main>

{% endblock %}