---
title: "Gina Mariani"
layout: "base.njk"
---

{% block content %}
  <main class="grid-main">
    {% include "about.njk" %}
  </main>
  <div class="grid-side">
    {% include "skills.njk" %}
  </div>
{% endblock %}