---
title: "Gina Mariani"
layout: "base.njk"
---

{% block content %}

  <main class="grid-layout-main p-5 md:p-0">
    {% include "about.njk" %}
  </main>
  <div class="grid-layout-side p-5 md:p-0">
    {% include "skills.njk" %}
  </div>

{% endblock %}